<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather page</title>
</head>
<body>
<span>WeatherInfo</span>&nbsp;
<a href="/">Home</a>&nbsp;
<a href="/weather">Weather</a><br>
<hr>